<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gene Word Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript">var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='formProcess.js')}}"></script>
    </head>
    <body>
        <div id="titlehead" class="container" >
            <div class="well" style='background-color: #337AB7;'>
                <h1 style='color: #ffffff;'> Gene Word Search <br>
                <small style='color: #cccccc;'>Enrichment for the non-GO inclined</small></h1>
            </div>
        </div>
        
        <div id="geneFormCont" class="form-group container">
        <form class="form-horizontal" id="geneForm" role="form" onsubmit="return handleForm()">
        
            <label for="genes">Enter the genes:</label>
                <textarea class="form-control" rows="10" id="genes" form="geneForm"></textarea><br>
                
            <label for="prob-cut">Probability cutoff:</label>
            <input type="text" size="5" name="probCut" value="0.050"><br>
            
            <label class="control-label" for="species">Species:</label>
            <div class="radio-inline">
              <label><input type="radio" name="species" value="maize">Maize</label>
            </div>
            <div class="radio-inline">
              <label><input type="radio" name="species" value="ath">Arabidopsis</label>
            </div>
            <div class="radio-inline">
              <label><input type="radio" name="species" value="other">Custom (Please upload database here:)</label>
            </div><br>
            
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
              <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> 
              <span class="fileinput-filename"></span></div>
              <span class="input-group-addon btn btn-primary btn-file">
                <span class="fileinput-new">Select DB file</span>
                <span class="fileinput-exists">Change</span>
                <input type="file" name="geneDB">
              </span>
              <a href="#" class="input-group-addon btn btn-primary fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
        
            <input type="submit" class="btn btn-primary btn-md" value="Evaluate">
        </form></div>
    </body>
</html>
